@charset "utf-8";

/* 전체 리셋 */
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 13px;
    line-height: 20px;
    color: rgb(66, 66, 66);
}

ul,ol{
    list-style: none;
}

img{
    vertical-align: top;
    border: 0;
}

a{
    text-decoration: none;
}






#wrap{
    width: 100%;
    min-width: 1300px;
}

.header{
    height: 120px;
}


.headerIn{
    width: 1300px;
    margin: 0 auto;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
}

.logo a{
    display: block;
    width: 90px;
    height: 100px;
    background-image: url("/resources/img/filmlog/logo.png");
    background-size: 90px auto;
    text-indent: -99999px;
}

.gnb{
    margin-left: -180px;
}

.gnb ul{
    display: flex;
}

.gnb li{
    margin-left: 80px;
}

.gnb li a{
    font-size: 16px;
    color: #333;
    font-weight: 500;
}

.member ul{
    display: flex;
}

.member li{
    margin-left: 20px;
}

.member li a{
    font-size: 14px;
    color: #333;
}

.member .sc a{
    display: block;
    width: 20px;
    height: 20px;
    background-image: url(/resources/img/filmlog/con_search.png);
    text-indent: -99999px;
}













.slide{
    position: relative;
    height: 320px;
}

.slide-img{
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -650px;
    width: 1300px;
    height: 250px;
    background-image: url(/resources/img/filmlog/slide.PNG);
    text-indent: -999999px;
}

.board{
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    margin-bottom: 80px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    /* background-color: blueviolet; */
}

h2{
    text-align: left;
    margin-bottom: 30px;
    font-size: 25px;
    color: #444;
    /* background-color: aqua; */
    line-height: 25px;

}

table{
    width: 1100px;
    text-align: center;
    font-size: 15px;
    margin-bottom: 30px;
}

th{
    background-color: #999;
    color: #fff;
    font-weight: 400;
}

th, td{
    padding: 13px 0;
    border-bottom: 1px dotted #bbb;
}

td a{
    color: #444;
}

.write{
    text-align: right;
    margin-bottom: 30px;
}

.write a{
    display: inline-block;
    font-size: 15px;
    color: #555;
    font-weight: 500;
    padding: 5px 15px;
    border: 1px solid #bbb;
    border-radius: 3px;
}

.search{
    text-align: center;
    margin-bottom: 30px;
    font-size: 14px;
}
label{
    margin-right: 10px;
}

.s-text{
    padding: 5px;
}

button{
    padding: 6px 25px;
    background-color: #999;
    color: #fff;
    border: none;
}












#footer{
    background-color: #555;
    padding-top: 30px;
    padding-bottom: 50px;
}

.footerIn{
    width: 1300px;
    margin: 0 auto;
    display: flex;
}

.f_logo{
    width: 140px;
    height: 35px;
    background-image: url(/resources/img/filmlog/footer-logo.png);
    background-size: 140px auto;
    text-indent: -99999px;
    margin-right: 80px;
    margin-left: 20px;
}
.f_box{
    margin-right: 100px;
}

.f_menu{
    margin-bottom: 20px;
    margin-top: 5px;
}

.f_menu ul{
    display: flex;
}

.f_menu li{
    margin-right: 5px;
}

.f_menu li a{
    display: inline-block;
    color: #fff;
    border: 1px solid #ddd;
    padding: 3px 15px;
    font-size: 15px;
}

.f_info{
    margin-bottom: 20px;
    color: #ddd;
    font-size: 14px;
    font-weight: 300;
}

.f_info span{
    margin-right: 13px;
}

.copyright{
    color: #ddd;
    font-weight: 300;
}

.f_sns{
    margin-top: 40px;
}

.f_sns ul{
    display: flex;
}

.f_sns li{
    margin-right: 10px;
}

.f_sns a{
    display: inline-block;
    width: 60px;
    height: 60px;
    text-indent: -99999px;

}

.f_sns .fb a{
    background-image: url(/resources/img/filmlog/sns_facebook.png);
}

.f_sns .ins a{
    background-image: url(/resources/img/filmlog/sns_insta.png);
}

.f_sns .yt a{
    background-image: url(/resources/img/filmlog/sns_youtube.png);  
} 
    

    
.go_map{
  position: fixed;
  top: 50%;
  right: 10%;
  
  width: 60px;
  height: 60px;
}
.go_map img{
  border-radius: 8px;
  width: 40px;
  height: 60px;
  object-fit: cover;
  opacity: 0.9;
}
.go_map p{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  font-size: 11px;
  color: #222;
  border-radius: 10px;
  background-color: #ccc;
  opacity: 0.8;
}
.go_map p span{
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.go_map a:hover p{
  display: block;
  
}
